html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* complete page */
body{
    background-color: #eceef1;
    font-family: helvetica, arial,sans-serif;
    color:#4c4c4c;
}

/* header start*/
header{
    text-align: end;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
    padding:15px 60px;
}
.header-left{
    margin-right:20px;
    font-size:larger;
}
.forgot-link{
    color:#0077c5;
    text-decoration: none;
}


/* sign up button */
.fa-lock{
    font-size:larger;
    margin-right: 10px;    
}
.sign-up{
    font-size:1.2em;
    padding:15px 30px;
    background-color: #0077c5;
    color: #fff;
    border-radius:8px;
}

/* header end */


/* section */

.lower-part{
    display: flex;
    flex-direction:column;
 
    align-items:center;
    padding: 50px;
}

/* intuit logo */
.intuit-logo  img{
    height:8em;
    width: auto;
}

/* my form  */
.my-form{
    background-color: #fff;
    width:600px;
    display: flex;
    flex-direction:column;
    align-items: center;
    border:1px solid #cdcfd5;
}
.form-description{
    text-align: center;
    margin-top:40px;
}
.form-description h1{
    font-size:35px;
    margin-bottom:30px;
}
.form-description a{
    text-decoration: none;
    color:#0077c5;
}
.form-description h3{
    font-size:20px;
}
.my-form form{
    width:450px;
}
.actual-form label{
    font-size:20px;
    
}
#phone-number{
    margin-bottom:10px;
}
.actual-form input{
    width:100%;
    height: 40px;
    margin-top:18px;
    border:1px solid #cdcfd5;
    border-radius: 5px;
}
.actual-form section{
    margin:30px 0;

}
.create-account{
    width:100%;
    background-color: #0077c5;
    height:60px;
    color:white;
    font-size:24px;
    border-radius:5px;
    margin-top:25px;


}


/* bottom area */
.bottom-area{
    width:380px;
    font-style: italic;
    line-height: 25px;
    text-align: center;
    margin:40px 0;
    
}
.bottom-area div{
    color:#0077c5;
    display: inline;
}

/* footer */
footer{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#eceef1;
    text-align: center;
    border:1px solid #cdcfd5;
    border-top:none;
    font-size:15x;
}
footer div{
    display: inline;
    color:#0077c5;
}

/* final-footer */
.footer{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer a{
    margin:18px;
    font-size:18px;
    text-decoration: none;
    color:inherit;
}
.legal-privacy-security{
    display: flex;
    flex-direction: row;

}
.footer p{
    font-size: 18px;
    margin:5px;
}